//----------------------------------------------------
// Override Default Theme
//----------------------------------------------------

//----------------------------------------------------
// / Config
//----------------------------------------------------

// Colors
$accentColor = $teal-400
$textColor = $grey-900
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #cccccc

// Layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 880px

// Responsive Breakpoints
$MQNarrow = 991px
$MQMobile = 767px
$MQMobileNarrow = 575px

//----------------------------------------------------
// / Import > Config (Node Modules)
//----------------------------------------------------

@require '~moftone/src/stylus/tone/_moftone.styl'
@require '~stylus-dashi/src/stylus/_dashi.styl'

//----------------------------------------------------
// / Global
//----------------------------------------------------

body
  color: $dark-2
  font-family: $font-sans

h1
  font-weight: $font-weight-normal

h2
  border-bottom: none
  font-weight: $font-weight-normal

button
  color: $dark-2

//----------------------------------------------------
// / Home
//----------------------------------------------------

.home
  max-width: 100%
  margin-top: -4rem
  padding: 0

//----------------------------------------------------
// / Navbar
//----------------------------------------------------

.navbar
  background-color: $accentColor
  border-bottom: none
  color: $light
  .logo
    width: auto
  .site-name
    color: $light
  .nav-links
    a
      &:hover,
      &.router-link-active
        color: $light
      .icon.outbound
        color: $light
        vertical-align: baseline

.nav-item
  > a:not(.external)
    &:hover,
    &.router-link-active
      @media (min-width: $MQMobile)
        border-color: lighten($accentColor, 30%)

//----------------------------------------------------
// / Sidebar
//----------------------------------------------------

.sidebar
  font-family: Quicksand, $font-sans
  font-size: 1em

//----------------------------------------------------
// / Content
//----------------------------------------------------

.content
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6
    font-family: Quicksand, $font-sans
    font-weight: 700
    + div,
    + p,
    + ul
      margin-top: 1em
  > p
    line-height: 1.9
    code
      color: $indigo-500
    + div,
    + p,
    + ul
      margin-top: 1em
  > ul
    line-height: 1.7
    > li
      list-style: circle outside
    + div,
    + p,
    + ul
      margin-top: 1em
  > table
    display: table
    width: 100%
    font-size: 92.5%;
    th
      background-color: $accentColor
      color: $light
    code
      color: $indigo-500
  > div
    table
      display: table
      tr:nth-child(2):last-child
        background: none
  > .group
    a,
    a:hover
      text-decoration: none
    ul,
    ol
      padding-left: 0
    blockquote
      font-size: 1em
    pre
      padding: 0
      background-color: $grey-100
      code
        color: $indigo-500
    table
      margin: 0
      + table
        margin-top: 1em
    .wysiwyg
      pre code
        padding: 1.25em 1.5em
      &.is-space
        table:not(:first-child)
          margin-top: 1em
  pre
    -webkit-overflow-scrolling: touch

//----------------------------------------------------
// / Page Edit
//----------------------------------------------------

.page-edit
  font-family: Quicksand, $font-sans

//----------------------------------------------------
// / Page Nav
//----------------------------------------------------

.page-nav
  font-family: Quicksand, $font-sans

//----------------------------------------------------
// / Section
//----------------------------------------------------

.section.is-hero
  padding: 9.5em 0 6em
  background-color: $accentColor
  a
    color: $light

.section.is-about
  padding: 3em 0

.section.is-feature
  padding: 3em 0
  &:nth-child(odd)
    background-color: $grey-50
  &:nth-child(even) .grid
    flex-direction: row-reverse

.section.is-bg-yellow
  background-color: $yellow-200

.section.is-bg-grey
  background-color: $grey-50
  :not(.pre)
    > .code
      background-color: rgba(black, 0.0375)

.section.is-footer
  background-color: $blue-grey-800
  padding: 2em 0
  font-family: Quicksand, $font-sans
  a
    color: $light

//----------------------------------------------------
// / Grid
//----------------------------------------------------

for $gap-x in 2 3 4 6
  .grid.is-gap-{$gap-x}x:not(.is-gap-none)
    margin-left: ($gap-x / -2)em
    margin-bottom: ($gap-x / -2)em
    > .col
      padding-left: ($gap-x / 2)em
      padding-bottom: ($gap-x / 2)em
    + .grid.is-gap-{$gap-x}x:not(.is-gap-none)
      margin-top: ($gap-x / 2)em

//----------------------------------------------------
// / Text
//----------------------------------------------------

.text.is-hero-1
  font-size: 16.75vw
  font-family: Quicksand, $font-sans
  line-height: 1.1
  +tablet()
    font-size: 4.375em
  +mobile-fablet()
    font-size: 2.2em

.text.is-hero-2
  font-size: 11vw
  font-family: Quicksand, $font-sans
  line-height: 1.1
  +tablet()
    font-size: 2.875em

//----------------------------------------------------
// / Button
//----------------------------------------------------

.btn.is-plain.is-cyan
  background-color: $light
  color: $cyan-500
  &:hover
    background-color: $cyan-50

.btn.is-ghost.is-cyan:hover
  color: $cyan-500

//----------------------------------------------------
// / Group
//----------------------------------------------------

.group.is-home-point-textbox
  max-width: 25.45em

//----------------------------------------------------
// / Object
//----------------------------------------------------

.obj.is-hero-illust
  width: 90vw
  +tablet()
    width: 23.5em
  +mobile-fablet()
    display: none

.obj.is-home-point-illust
  width: 15em

//----------------------------------------------------
// / Utility
//----------------------------------------------------

.is-font-qicksand
  font-family: Quicksand, $font-sans